<div>
  <ul>
  {{#if session.isAuthenticated}}
    <li>{{link-to 'posts' 'posts.index'}}</li>
    <li>{{link-to 'new post' 'posts.new'}}</li>
    <li>{{link-to 'log out' 'logout'}}</li>
  {{else}}
    <li>{{link-to 'create account' 'signup'}}</li>
    <li>{{link-to 'log in' 'login'}}</li>
  {{/if}}
  </ul>
</div>
