<div class='col-xs'>
  <ul class='row center-xs'>
  {{#if session.isAuthenticated}}
    <li class='col-xs'>{{link-to 'posts' 'posts'}}</li>
    <li class='col-xs'>{{link-to 'new post' 'posts.new'}}</li>
    <li class='col-xs'>{{#logout-button}}logout{{/logout-button}}</li>
  {{else}}
    <li class='col-xs'>{{link-to 'login' 'login'}}</li>
    <li class='col-xs'>{{link-to 'signup' 'signup'}}</li>
  {{/if}}
  </ul>
</div>
