<div class='col-xs'>
  <ul class='row center-xs'>
  {{#if session.isAuthenticated}}
    <li class='col-xs-4'>{{link-to 'posts' 'posts.index'}}</li>
    <li class='col-xs-4'>{{link-to 'new post' 'posts.new'}}</li>
    <li class='col-xs-4'>{{link-to 'log out' 'logout'}}</li>
  {{else}}
    <li class='col-xs-6'>{{link-to 'create account' 'signup'}}</li>
    <li class='col-xs-6'>{{link-to 'log in' 'login'}}</li>
  {{/if}}
  </ul>
</div>
