<ul>
  {{#if session.isAuthenticated}}
    <li class='nav-posts'>{{link-to 'posts' 'posts.index'}}</li>
    <li class='nav-post-new'>{{link-to 'new post' 'posts.new'}}</li>
    <li class='nav-logout'>{{link-to 'log out' 'logout'}}</li>
  {{else}}
    <li class='nav-signup'>{{link-to 'create account' 'signup'}}</li>
    <li class='nav-login'>{{link-to 'log in' 'login'}}</li>
  {{/if}}
</ul>
