<div>
  {{#if isCurrentUsersPost}}
    <div class='post-delete'>
      <span class='post-delete' {{action 'deletePost'}}>delete this post</span>
    </div>
  {{/if}}
  <div class='post-header'>
    <span class='img-holder'>
      <span class='img-placeholder'></span>
    </span>
    <span class='username'>{{author}}</span>
    <span class='activity'>{{moment-from-now updatedAt}}</span>
  </div>
  <div class='post-body'>
    <div>
      {{body}}
    </div>
  </div>
  <div class='post-footer'>
    <span class='comment-count' {{action 'toggleComments'}}>
      {{#if commentsVisible}}
        hide
      {{else}}
        {{pluralize-word comments.length 'comment'}}
      {{/if}}
    </span>
  </div>
  {{#if commentsVisible}}
    {{new-comment post=post}}
    <div class='comments'>
      {{#each comments as |comment|}}
        <span>{{comment.user.username}}</span>
        <span>{{comment.body}}</span>
      {{/each}}
    </div>
  {{/if}}
</div>
